@model List<Host>

<section class="eventlist">
    <header>
        <h2>Arrangörer</h2><a href="/Home/Create">Ny</a>
    </header>
    <section class="events">
        @foreach (var host in Model) {
        <article>
            <div>
                <h3>@host.Name</h3>
                <h4>@host.Phone</h4>
                <h4>@host.Website </h4>
            </div>
            <nav>
                <a href="/Home/Edit/@host.Id" class="rbutton">Redigera</a>
            </nav>

        </article>
        }
       


    </section>
    
</section>

