<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Arrangörsportal</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header id="navbar">
        <img src="~/images/Evenue101.png" />
        <h1>
            Arrangörsportal
            @if (User.Identity.IsAuthenticated)
            {
                <span> | @User.Identity.Name</span>
            }
        </h1>
        @Html.ActionLink("Logga Ut", "Logout", "Login")
    </header>
    <main role="main">
        @RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
