.div_1 {
    width: 600px;
    height: 800px;
    background: hsl(240, 7%, 57%);
    opacity: 1;
    position: absolute;
    right: 200px;
    top: 200px;
    left: 614px;
}

.div_2 {
    text-align: center;
    width: 600px;
    height: 84px;
    background: rgba(49,49,119,1);
    opacity: 1;
    position: fixed;
    right: 200px;
    top: 150px;
    left: 614px;
}

.div_3 {
    width: 600px;
    height: 84px;
    background: hsl(240, 62%, 93%);
    opacity: 1;
    text-align: center;
    right: 200px;
    top: 300px;
    left: 614px;
}


.div_4 {
    width: 600px;
    height: 84px;
    background: hsl(240, 50%, 88%);
    opacity: 1;
    position: fixed;
    right: 200px;
    top: 360px;
    left: 614px;
}

.div_5 {
    width: 600px;
    height: 84px;
    background: hsl(240, 50%, 88%);
    opacity: 1;
    position: fixed;
    right: 200px;
    top: 360px;
    left: 614px;
}

.event {
    position: absolute;
    top: 8px;
    left: 16px;
}

.stad {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.skapa {
    width: 600px;
    height: 800px;
    background: hsl(240, 7%, 57%);
    opacity: 1;
    position: absolute;
    right: 200px;
    top: 150px;
    left: 1500px;
}

.event12 {
    text-align: center;
    width: 600px;
    height: 84px;
    background: rgb(226, 226, 235);
    opacity: 1;
    position: fixed;
    right: 200px;
    top: 160px;
    left: 1500px;
}


.eventtext {
    text-align: center;
    width: 600px;
    height: 84px;
    background: rgb(226, 226, 235);
    opacity: 1;
    position: fixed;
    right: 200px;
    top: 300px;
    left: 1500px;
}


.eventtid {
    text-align: center;
    width: 600px;
    height: 84px;
    background: rgb(226, 226, 235);
    opacity: 1;
    position: fixed;
    right: 200px;
    top: 450px;
    left: 1500px;
}


.eventplats {
    text-align: center;
    width: 600px;
    height: 84px;
    background: rgb(226, 226, 235);
    opacity: 1;
    position: fixed;
    right: 200px;
    top: 580px;
    left: 1500px;
}

.eventbesk {
    text-align: center;
    width: 600px;
    height: 84px;
    background: rgb(226, 226, 235);
    opacity: 1;
    position: fixed;
    right: 200px;
    top: 720px;
    left: 1500px;
}

.eventknappen {
    width: 175px;
    height: 50px;
    background: rgba(49,49,119,1);
    color: white;
    opacity: 1;
    text-align: center;
    font-size: 30px;
    position: absolute;
    top: 70px;
    left: 1100px;
    overflow: hidden;
}

.Arrangörknappen {
    width: 195px;
    height: 60px;
    background: rgba(49,49,119,1);
    color: white;
    opacity: 1;
    text-align: center;
    font-size: 30px;
    position: absolute;
    top: 70px;
    left: 1400px;
    overflow: hidden;
}
