* {
    box-sizing: border-box;
}

:root {
    --colorprimary: #313177;
    --colorsecondary: #D36716;
    --colorsecondaryactive: #f78128;

    --borderradius: 6px;
}

body {
    margin: 0;
    font-family: sans-serif;
    padding-top: 60px;
    background-color: rgb(200, 200, 200);
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--colorprimary);
    color: white;
    padding: 10px 45px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.5);
}

#navbar img, #navbar h1 {
    float: left;
}

#navbar img {
    height: 40px;
}

#navbar h1 {
    margin: 0;
    font-size: 24px;
    padding: 6px 15px;
}

.logincontainer {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
}

.logincontainer form {
    width: 500px;
    /*margin: 100px auto;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    position: relative;
    padding-top: 50px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.5);
    border-radius: var(--borderradius);
}

.logincontainer form div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 10px;
    text-align: center;
    background-color: var(--colorprimary);
    border-radius: var(--borderradius);
}

.logincontainer form div h2 {
    margin: 0;
    font-size: 24px;
    color: white;
}

.logincontainer form input {
    width: 100%;
    margin: 20px auto 0;
    padding: 10px 20px;
    font-size: 22px;
    border: none;
    background-color: rgb(200, 200, 200);
    border-radius: var(--borderradius);
}

.logincontainer form input[type=submit] {
    background-color: var(--colorprimary);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .25s, transform .25s, box-shadow .25s;
}

.logincontainer form input[type=submit]:hover {
    background-color: var(--colorsecondary);
    transform: translateY(-4px);
    box-shadow: 0px 4px 6px rgba(0,0,0,0.5);
}



.profileeditor {
    width: 1440px;
    margin: 100px auto;
    border-radius: var(--borderradius);
    background-color: white;
}

.profileeditor header {
    width: 100%;
    height: 60px;
    background-color: var(--colorprimary);
    padding: 10px 45px;
    border-radius: var(--borderradius);
}

.profileeditor header h2 {
    float: left;
    margin: 0;
    color: white;
    font-size: 24px;
    padding: 8px 0;
}

.profileeditor header a {
    float: right;
    height: 40px;
    font-size: 20px;
    padding: 10px 30px;
    background-color: var(--colorsecondary);
    border-radius: var(--borderradius);
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background-color .25s, transform .25s, box-shadow .25s;
}

.profileeditor header a:hover {
    background-color: var(--colorsecondaryactive);
    transform: translateY(-4px);
    box-shadow: 0px 4px 6px rgba(0,0,0,0.75);
}

.profileeditor #profileform {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profileeditor #profileform section {
    padding: 30px 45px;
}

.profileeditor #profileform input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #D2D2D2;
    color: black;
    border: none;
    border-radius: var(--borderradius);
}

.profileeditor #profileform #description {
    width: 100%;
    margin-bottom: 20px;
    min-height: 650px;
    background-color: #D2D2D2;
    border-radius: var(--borderradius);
    font-size: 20px;
    padding: 10px 20px;
}
