* {
    box-sizing: border-box;
}

:root {
    --colorprimary: #313177;
    --colorprimarydark: #272751;
    --colorsecondary: #D36716;
    --colorsecondaryactive: #f78128;
    --colortertiary: #343a40;

    --borderradius: 4px;
    --borderradiusbig: 6px;
}

body {
    margin: 0;
    font-family: sans-serif;
    padding-top: /*60px*/106px;
    background-color: rgb(200, 200, 200) !important;
}

#navbar {
    /*position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--colorprimary);
    color: white;
    padding: 10px 45px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.5);*/
}

/*#navbar img, #navbar h1 {
    float: left;
}

#navbar img {
    height: 40px;
}

#navbar h1 {
    margin: 0;
    font-size: 24px;
    padding: 6px 15px;
}*/

#logoutbut {
    background-color: white;
    color: black;
    padding: .5rem 1.5rem;
    border-radius: var(--borderradius);
    margin-left: 15px;
}

.logincontainer {
    position: absolute;
    top: /*60*/106px;
    left: 0;
    width: 100%;
    height: calc(100vh - /*60*/106px);
}

.logincontainer form {
    width: 500px;
    /*margin: 100px auto;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    position: relative;
    padding-top: 50px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.5);
    border-radius: var(--borderradius);
}

.logincontainer form div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 10px;
    text-align: center;
    background-color: var(--colortertiary);
    border-radius: var(--borderradius);
}

.logincontainer form div h2 {
    margin: 0;
    font-size: 24px;
    color: white;
}

.logincontainer form input {
    width: 100%;
    margin: 20px auto 0;
    padding: 10px 20px;
    font-size: 22px;
    border: none;
    background-color: rgb(200, 200, 200);
    border-radius: var(--borderradius);
}

.logincontainer form input[type=submit] {
    background-color: var(--colorprimary);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .25s, transform .25s, box-shadow .25s;
}

.logincontainer form input[type=submit]:hover {
    background-color: var(--colorsecondary);
    transform: translateY(-4px);
    box-shadow: 0px 4px 6px rgba(0,0,0,0.5);
}



.eventlist {
    width: 1140px;
    max-width: calc(100% - 90px);
    margin: 50px auto;
    border-radius: var(--borderradius);
    background-color: white;
    line-height: normal;
}

.eventlist .events {
    padding: 20px 45px;
}

.eventlist .events article {
    width: 100%;
    background-color: var(--colorprimarydark);
    border-radius: var(--borderradiusbig);
    color: white;
}

.eventlist .events article a {
    color: white;
    text-decoration: none;
}

.eventlist .events article .eventheader {
    width: 100%;
    padding: 15px 30px;
    background-color: var(--colorprimary);
    border-radius: var(--borderradiusbig);
    color: white;
    position: relative;
}

.eventheader h3 {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

.eventheader .infogrid {
    width: 100%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    row-gap: 10px;
}

.eventheader .infogrid p {
    margin: 0;
    font-size: 20px;
}

.eventlist .events article .expander {
    width: 100%;
    display: block;
    padding: 10px 30px;
    font-size: 22px;
    text-align: center;
    background-color: var(--colorprimary);
    color: white;
    border-radius: 0 0 var(--borderradiusbig) var(--borderradiusbig);
}



.profileeditor {
    width: 1440px;
    max-width: calc(100% - 90px);
    margin: 50px auto;
    border-radius: var(--borderradius);
    background-color: white;
    line-height: normal;
}

.profileeditor header, .eventlist header {
    width: 100%;
    height: 60px;
    background-color: var(--colortertiary);
    padding: 10px 45px;
    border-radius: var(--borderradius);
}

.profileeditor header h2, .eventlist header h2 {
    float: left;
    margin: 0;
    color: white;
    font-size: 24px;
    padding: 8px 0;
    line-height: 24px;
}

.profileeditor header a, .eventlist header a {
    float: right;
    height: 40px;
    font-size: 20px;
    padding: 10px 30px;
    background-color: white;
    border-radius: var(--borderradius);
    color: black;
    text-decoration: none;
    font-weight: normal;
    transition: background-color .25s, transform .25s, box-shadow .25s;
    line-height: 20px;
}

.profileeditor header a:hover, .profileeditor header a:focus, .eventlist header a:hover, .eventlist header a:focus {
    /*background-color: var(--colorsecondaryactive);*/
    transform: translateY(-4px);
    box-shadow: 0px 4px 6px rgba(0,0,0,0.75);
}

.profileeditor header a:active, .eventlist header a:active {
    transform: translateY(-0px);
    box-shadow: none;
}

.profileeditor #profileform {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profileeditor #profileform section {
    padding: 30px 45px;
}

.profileeditor #profileform input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #D2D2D2;
    color: black;
    border: none;
    border-radius: var(--borderradius);
}

.profileeditor #profileform #description {
    width: 100%;
    margin-bottom: 20px;
    height: 100%;
    background-color: #D2D2D2;
    border-radius: var(--borderradius);
    font-size: 20px;
    padding: 10px 20px;
}

.profileeditor #profileform #deletebut {
    width: 100%;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #971b1b;
    color: white;
    border-radius: var(--borderradius);
}
