* {
    box-sizing: border-box;
}

:root {
    --colorprimary: #313177;
    --colorprimarydark: #272751;
    --colorsecondary: #D36716;
    --colorsecondaryactive: #f78128;
    --colortertiary: #343a40;

    --borderradius: 4px;
    --borderradiusbig: 6px;
}

body {
    margin: 0;
    font-family: sans-serif;
    padding-top: /*60px*/
    106px;
    background-color: rgb(200, 200, 200) !important;
    flex-direction: column;
    justify-content: normal !important;
    align-items: normal !important;
    min-height: 100vh !important;
}

#navbar {
    /*position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--colorprimary);
    color: white;
    padding: 10px 45px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.5);*/
}

#second-nav, footer {
    width: 100%;
}

main {
    flex: 1 0 auto;
}

/*#navbar img, #navbar h1 {
    float: left;
}

#navbar img {
    height: 40px;
}

#navbar h1 {
    margin: 0;
    font-size: 24px;
    padding: 6px 15px;
}*/

#logoutbut {
    background-color: white;
    color: black;
    padding: .5rem 1.5rem;
    border-radius: var(--borderradius);
    margin-left: 15px;
}

.logincontainer {
}

.logincontainer form {
    width: 500px;
    /*margin: 100px auto;*/
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    position: relative;
    padding-top: 50px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.5);
    border-radius: var(--borderradius);
}

.logincontainer form div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 10px;
    text-align: center;
    background-color: var(--colortertiary);
    border-radius: var(--borderradius);
}

.logincontainer form div h2 {
    margin: 0;
    font-size: 24px;
    color: white;
}

.logincontainer form p {
    font-size: 22px;
    color: red;
    text-align:center;
    margin: 0 !important;
}

.logincontainer form input, .logincontainer form select {
    width: 100%;
    margin: 20px auto 0;
    padding: 10px 20px;
    font-size: 22px;
    border: none;
    background-color: rgb(200, 200, 200);
    border-radius: var(--borderradius);
}

.logincontainer form input[type=submit] {
    background-color: var(--colorprimary);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .25s, transform .25s, box-shadow .25s;
}

.logincontainer form input[type=submit]:hover {
    background-color: var(--colorsecondary);
    transform: translateY(-4px);
    box-shadow: 0px 4px 6px rgba(0,0,0,0.5);
}

.logincontainer form a {
    font-size: 20px;
    font-weight: bold;
    color: #639eb5;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
}



.productlist .products article {
    width: 100%;
    background-color: var(--colorprimarydark);
    border-radius: var(--borderradiusbig);
    color: white;
    padding: 15px 25px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 85px 1fr;
    column-gap: 20px;
}

.productlist .products article img {
    height: 85px;
    width: 100%;
    border-radius: var(--borderradius);
    object-fit: cover;
    background-color: rgba(75, 108, 34, 0.50);
}

.productlist .products article .prow, .productlist .products article .stern {
    width: 100%;
    height: 40px;
}

.productlist .products article .prow h3 {
    font-size: 28px;
    float: left;
    margin: 0;
}

.productlist .products article .prow p {
    font-size: 22px;
    float: right;
    margin: 0;
}

.productlist .products article .stern {
    height: 45px;
}

.productlist .products article .stern p {
    font-size: 22px;
    line-height: 22px;
    float: left;
    margin: 0;
    padding: 10px 0;
}

.productlist .products article .stern a {
    float: right;
    display: block;
    padding: 10px 20px;
    height: 45px;
    background-color: white;
    border-radius: var(--borderradius);
    color: black;
    font-size: 22px;
    line-height: 22px;
    text-decoration: none;
    margin-left: 20px;
    transition: transform .25s, box-shadow .25s, background-color .25s, border .25s;
}

.productlist .products article .stern a:hover, .productlist .products article .stern a:focus {
    transform: translateY(-4px);
    box-shadow: 0px 4px 6px black;
}

.productlist .products article .stern a:active {
    transform: translateY(-0px);
    box-shadow: none;
}

.productlist .products article .stern a:nth-child(2n+1) {
    background-color: rgb(151, 27, 27, 0.00);
    border: 2px solid white;
    color: white;
}

.productlist .products article .stern a:nth-child(2n+1):hover, .productlist .products article .stern a:nth-child(2n+1):focus {
    background-color: #971b1b;
    border: 2px solid #971b1b;
}


.productlist header a:nth-child(2n+1) {
    background-color: rgba(255, 255, 255, 0) !important;
    border: 2px solid white !important;
    margin-right: 20px !important;
    color: white !important;
    line-height: 22px;
    padding: 7px 30px;
}

.productlist header a:nth-child(2n+1):hover, .productlist header a:nth-child(2n+1):focus {
    background-color: rgba(255, 255, 255, 0.5) !important;
}



.eventlist, .productlist {
    width: /*1110px*/750px;
    max-width: calc(100% - 90px);
    margin: 50px auto;
    border-radius: var(--borderradius);
    background-color: white;
    line-height: normal;
}

.eventlist .events, .productlist .products {
    padding: 0px 45px 20px;
}

.eventlist .events article {
    width: 100%;
    background-color: var(--colorprimarydark);
    border-radius: var(--borderradiusbig);
    color: white;
    padding: 15px 25px;
    margin-top: 20px;
}

.eventlist .events article h3 {
    font-size: 32px;
    line-height: 32px;
    font-weight: bold;
    margin: 0;
}

.infogrid {
    width: 100%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
}

.infogrid p {
    margin: 0;
    font-size: 20px;
}

.infogrid p:nth-child(3n+1) {
    text-align: left;
}

.infogrid p:nth-child(3n+2) {
    text-align: center;
}

.infogrid p:nth-child(3n+3) {
    text-align: right;
}

.infogrid .progressbar {
    width: 100%;
    height: 8px;
    border: 2px solid white;
    border-radius: 4px;
    overflow: hidden;
}

.infogrid .progressbar span {
    height: 100%;
    width: 22%;
    background-color: white;
    display: block;
}

.eventlist .events article nav {
    background: none;
    /*overflow: auto;*/
    height: 45px;
    margin-top: 10px;
}

.eventlist .events article nav .rbutton {
    display: block;
    float: right;
    padding: 10px 20px;
    font-size: 22px;
    line-height: 22px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: var(--borderradius);
    text-align: center;
    height: 45px;
    margin-left: 20px;
    transition: transform .25s, box-shadow .25s, background-color .25s;
}

.eventlist .events article nav .rbutton:hover, .eventlist .events article nav .rbutton:focus {
    transform: translateY(-4px);
    box-shadow: 0px 4px 6px black;
}

.eventlist .events article nav .rbutton:active {
    transform: translateY(-0px);
    box-shadow: none;
}

.eventlist .events article nav .rbutton:nth-child(2n+1) {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 2px solid white;
}

.eventlist .events article nav .rbutton:nth-child(2n+1):hover, .eventlist .events article nav .rbutton:nth-child(2n+1):focus {
    background-color: rgba(255, 255, 255, 0.5);
}

.eventlist .events article nav .lbutton {
    float: left;
    display: block;
    padding-top: 15px;
    font-size: 22px;
    line-height: 22px;
    color: white;
    text-decoration: none;
    height: 45px;
}





.profileeditor {
    width: 1110px;
    max-width: calc(100% - 90px);
    margin: 50px auto;
    border-radius: var(--borderradius);
    background-color: white;
    line-height: normal;
}

.profileeditor header, .eventlist header, .productlist header {
    width: 100%;
    height: 60px;
    background-color: var(--colortertiary);
    padding: 10px 45px;
    border-radius: var(--borderradius);
}

.profileeditor header h2, .eventlist header h2, .productlist header h2 {
    float: left;
    margin: 0;
    color: white;
    font-size: 24px;
    padding: 8px 0;
    line-height: 24px;
}

.profileeditor header a, .eventlist header a, .productlist header a {
    float: right;
    height: 40px;
    font-size: 20px;
    padding: 10px 30px;
    background-color: white;
    border-radius: var(--borderradius);
    color: black;
    text-decoration: none;
    font-weight: normal;
    transition: background-color .25s, transform .25s, box-shadow .25s;
    line-height: 20px;
}

.profileeditor header a:hover, .profileeditor header a:focus, .eventlist header a:hover, .eventlist header a:focus, .productlist header a:hover, .productlist header a:focus {
    /*background-color: var(--colorsecondaryactive);*/
    transform: translateY(-4px);
    box-shadow: 0px 4px 6px rgba(0,0,0,0.75);
}

.profileeditor header a:active, .eventlist header a:active, .productlist header a:active {
    transform: translateY(-0px);
    box-shadow: none;
}

.profileeditor #profileform {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profileeditor #profileform section {
    padding: 30px 45px;
}

.profileeditor #profileform input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #D2D2D2;
    color: black;
    border: none;
    border-radius: var(--borderradius);
}

.profileeditor #profileform #description {
    width: 100%;
    margin-bottom: 20px;
    height: 100%;
    background-color: #D2D2D2;
    border-radius: var(--borderradius);
    font-size: 20px;
    padding: 10px 20px;
}

.profileeditor #profileform #deletebut {
    display: block;
    float: left;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #971b1b;
    color: white;
    border-radius: var(--borderradius);
    text-decoration: none;
    transition: transform .25s, box-shadow .25s;
}

.profileeditor #profileform #deletebut:hover, .profileeditor #profileform #deletebut:focus {
    transform: translateY(-4px);
    box-shadow: 0px 4px 6px rgba(0,0,0,0.5);
}

.profileeditor #profileform #deletebut:active {
    transform: translateY(0px);
    box-shadow: none;
}
