@model HostClientApplication.Models.Local

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Local</h4>
<hr />
<div id="FlorimJobbarMycket" class="container">
    <header>
    <h2>Skapa ny Lokal</h2>
    </header>
    <div class="eventuppgifter">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" id="profileform"></div>

            <div class="input-box">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />

            </div>
            <div class="input-box">
                <label asp-for="ImgUrl" class="control-label"></label>
                <input asp-for="ImgUrl" class="form-control" />
            </div>
            <div id="Beskrivning">
                <label asp-for="Description" class="control-label" id="Beskrivninghidden"></label>
                <input asp-for="Description" class="form-control" />
            </div>
            <div class="input-box">
                <label asp-for="Ramp" class="control-label"></label>
                <input asp-for="Ramp" class="form-control" />
            </div>
            <div class="input-box">
                <label asp-for="MaxNumPeople" class="control-label"></label>
                <input asp-for="MaxNumPeople" class="form-control" />
            </div>
            <div class="input-box">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
            </div>
            <div class="input-box">
                <label asp-for="ZIPCode" class="control-label"></label>
                <input asp-for="ZIPCode" class="form-control" />
            </div>
            <div class="input-box">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
            </div>
            <div class="input-box">
                <label asp-for="GPS" class="control-label"></label>
                <input asp-for="GPS" class="form-control" />
            </div>
            <div class="input-box">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

