@model HostClientApplication.Models.Local

@{
    ViewData["Title"] = "Edit";
}

<div id="FlorimJobbarMycket" class="container">

    <header>
        <h2>Redigera Lokaler</h2><a href="javascript:void(0)" onclick="SubmitProfile()">Spara</a>
    </header>
    <div class="eventuppgifter">
       
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="profileform"></div>
                <div class="input-box">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                </div>
                <div class="input-box">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="input-box">
                    <label asp-for="ImgUrl" class="control-label"></label>
                    <input asp-for="ImgUrl" class="form-control" />
                </div>
                <div class="input-box">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                </div>
                <div class="input-box">
                    <label asp-for="Ramp" class="control-label"></label>
                    <input asp-for="Ramp" class="form-control" />
                </div>
                <div class="input-box">
                    <label asp-for="MaxNumPeople" class="control-label"></label>
                    <input asp-for="MaxNumPeople" class="form-control" />
                </div>
                <div class="input-box">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                </div>
                <div class="input-box">
                    <label asp-for="ZIPCode" class="control-label"></label>
                    <input asp-for="ZIPCode" class="form-control" />
                </div>
                <div class="input-box">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                </div>
                <div class="input-box">
                    <label asp-for="GPS" class="control-label"></label>
                    <input asp-for="GPS" class="form-control" />
                </div>
                <br />
                <div class="input-box">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
       
    </div>
</div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>


