@{ 
    ViewData["title"] = "Inloggning";
}

<section class="logincontainer">
    <form action="/Login/Index" method="post" enctype="multipart/form-data">
        <div>
            <h2>Inloggning</h2>
        </div>
       <p> @ViewBag.Message</p>
        <input type="text" name="name" placeholder="Email" />
        <input type="password" name="password" placeholder="Lösenord" />
        <input type="submit" value="Logga In" />
        <a href="/Login/New/">Skapa Konto</a>
    </form>
</section>
