@{ 
    ViewData["title"] = "Inloggning";
}

<section class="logincontainer">
    <form action="/Login/Index" method="post" enctype="multipart/form-data">
        <div>
            <h2>Inloggning</h2>
        </div>
        @ViewBag.Message
        <input type="text" name="name" placeholder="Username" />
        <input type="password" name="password" placeholder="Lösenord" />
        <input type="submit" value="Logga In" />
    </form>
</section>
