@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<section class="logincontainer">
    <form action="/Login/New" method="post" enctype="multipart/form-data">
        <div>
            <h2>Inloggning</h2>
        </div>
       <p> @ViewBag.ErrorMessage </p>
     
        <input type="text" name="name" placeholder="Namn" />
        <input type="text" name="phone" placeholder="Telefonnummer" />
   
        <input type="text" name="website" placeholder="Websida" />
        <input type="text" name="Username" placeholder="Emailadress" />
        <input type="password" name="password" placeholder="Lösenord" />
        <input type="text" name="accesslevel" placeholder="AccessLevel" />
       

        <input type="submit" value="Registrera Dig" />


    </form>
</section>

