@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">More Information</h1>

<div>
    <h4 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Event</h4>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EventId">Ändra</a> |
    <a asp-action="Index">Go back</a>
</div>
