@model Event

@{
    ViewData["Title"] = "Edit";
}
 
<div id="FlorimJobbarMycket" class="container">

    <header>
        <h2>Skapa/Redigera Event</h2><a href="javascript:void(0)" onclick="SubmitProfile()">Spara</a>
    </header>


    <form asp-action="Edit" id="profileform" method="post">
        <div class="eventuppgifter">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="input-box">

                <input asp-for="Name" type="text" placeholder="Namn" required>
            </div>
            <div class="input-box">

                <input asp-for="Date" type="text" placeholder="Datum" required>
            </div>
            <div class="input-box">

                <input asp-for="StartTime" type="text" placeholder="Starttid" required>
            </div>
            <div class="input-box">

                <input asp-for="EndTime" type="text" placeholder="Sluttid" required>
            </div>
            <div class="input-box">

                <input asp-for="City" type="text" placeholder="Stad" required>
            </div>
            <div class="input-box">

                <input asp-for="VenueId" type="text" placeholder="Venue" required>
            </div>
            <div class="input-box">

                <input type="file" id="img" name="img" accept="image/*" placeholder="Välj bild">

            </div>

            <div id="Beskrivning" contenteditable="true">

                <input asp-for="Description" id="Beskrivninghidden" type="hidden" name="beskrivningAvArrangör" placeholder="Beskrivning" required />

            </div>

            <div class="form-group">
                <input type="submit" name="Create" value="Lägg till" class="btn btn-primary" />
            </div>

        </div>
    </form>
</div>

