@model Event

@{
    ViewData["Title"] = "Edit";
}

<h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Changes</h1>

<h4 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime " class="control-label"></label>
                <input asp-for="StartTime " class="form-control" />
                <span asp-validation-for="StartTime " class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EndTime " class="control-label"></label>
                <input asp-for="EndTime " class="form-control" />
                <span asp-validation-for="EndTime " class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City " class="control-label"></label>
                <input asp-for="City " class="form-control" />
                <span asp-validation-for="City " class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category " class="control-label"></label>
                <input asp-for="Category " class="form-control" />
                <span asp-validation-for="Category " class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority " class="control-label"></label>
                <input asp-for="Priority " class="form-control" />
                <span asp-validation-for="Priority " class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VenueId " class="control-label"></label>
                <select asp-for="VenueId " class="form-control" asp-items="ViewBag.VenueId "></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Spara" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Go back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
