
@{
    ViewData["Title"] = "Events";
}

<section class="eventlist">
    <header>
        <h2>Events</h2><a href="/Events/Create">Ny</a>
    </header>
    <section class="events">
        <article id="1">
            <a href="">
                <section class="eventheader">
                    <!--<a href=""></a>-->
                    <h3>Way out west</h3>
                    <section class="infogrid">
                        <p><i class="fas fa-map-marker-alt"></i> Trollhättan</p>
                        <p><i class="fas fa-calendar-alt"></i> 2022-02-22</p>
                    </section>
                </section>
            </a>
            <section class="products">
                <a href="">Ny</a>
            </section>
            <a class="expander" href="javascript:void(0)">
                Produkter
            </a>
        </article>
    </section>
</section>

